<InputFile @key=CurrentInputControlId OnChange=@AddFiles multiple/>
@foreach(string hiddenControlId in HiddenInputControlIds)
{
    <InputFile @key=hiddenControlId multiple class="hidden"/>
}

<ul>
@foreach(FileUploadInfo fileUploadInfo in FileUploadInfos)
{
    <li>@fileUploadInfo.BrowserFile.Name</li>
}
</ul>
<button @onclick=Test>Test</button>

