<InputFile @key=CurrentInputControlId OnChange=@AddFiles multiple/>
@foreach(string hiddenControlId in HiddenInputControlIds)
{
    <InputFile @key=hiddenControlId multiple class="hidden"/>
}

<button @onclick=UploadAsync>Upload</button>
<ul>
    @foreach(FileUploadInfo file in FileUploadInfos)
    {
        <li>@file.BrowserFile.Name (@file.BrowserFile.Size) @file.Percent% @file.Status</li>
    }
</ul>

